:root {
  --background-color: #e2e2e2;
  --txt-color: #343333;
  --footer-color: #e2e2e2;
  --button-mode: #e2e2e2;
}

.dark-mode:root {
  --background-color: #131111;
  --txt-color: #ffffff9c;
  --footer-color: #131111;
  --button-mode: #131111;
}

body {
  font-family: 'Arial';
  background-color: var(--background-color);
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h5 {
  font-style: italic;
}

#theme-toggle {
  background-color: var(--button-mode);
  border: none;
  outline: none;
  box-shadow: none;
}

.img-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}
* {
  color: var(--txt-color);
}

footer {
  background-color: var(--footer-color);
}

.container {
  max-width: 1200px;
  margin-top: 50px;
  padding: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin-right: 20px;
  font-size: 24px;
}